 <link rel="stylesheet" type="text/css" href="assets/stylesheets/main.css">
<div class ="page">
<form class="form-horizontal" action='/studentInfo' method="POST">
        <div id="legend">
           
        </div>
        <div class="control-group">
          
            <label class="control-label" for="firstname">FirstName</label>
            <div class="controls">
                <input type="text" id="firstname" name="firstname" placeholder="" class="input-xlarge">
               
        </div>

        <div class="control-group">
        
            <label class="control-label" for="lastname">LastName</label>
            <div class="controls">
                <input type="text" id="lastname" name="lastname" placeholder="" class="input-xlarge">
               
            </div>
        </div>

        <div class="control-group">
          
            <label class="control-label" for="degree">degree</label>
            <div class="controls">
                <input type="text" id="degree" name="degree" placeholder="" class="input-xlarge">
               
            </div>
        </div>

        <div class="control-group">
           
            <label class="control-label" for="program">program</label>
            <div class="controls">
                <input type="text" id="program" name="program" placeholder="" class="input-xlarge">
            
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Submit</button>
            </div>
        </div>
</form>






<div class="topnav">
 
<!--   <input type="text" placeholder=""> -->
  <form class="example" action="/search"  method="POST">
  <input type="text" name="query" placeholder="Search..">
  <button type="submit"><i class="fa fa-search"></i>Search</button>
</form>




</div>

