<form class="form-horizontal" action='/studentInfo' method="POST">
        <div id="legend">
           
        </div>
        <div class="control-group">
            <!-- Username -->
            <label class="control-label" for="username">First Name</label>
            <div class="controls">
                <input type="text" id="first name" name="first name" placeholder="" class="input-xlarge">
               
        </div>

        <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">Last Name</label>
            <div class="controls">
                <input type="text" id="last name" name="last name" placeholder="" class="input-xlarge">
               
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">degree</label>
            <div class="controls">
                <input type="password" id="degree" name="degree" placeholder="" class="input-xlarge">
               
            </div>
        </div>

        <div class="control-group">
            <!-- Password -->
            <label class="control-label" for="password_confirm">program</label>
            <div class="controls">
                <input type="password" id="program" name="program" placeholder="" class="input-xlarge">
            
            </div>
        </div>

        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Submit</button>
            </div>
        </div>
</form>

